<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(経路編集)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center flex-grow">
    <form id="planForm" class="w-full">
        <div id="popup"
             class="hidden sm:hidden fixed inset-0 z-50 items-center justify-center bg-black bg-opacity-50"
             onclick="closePopup()">
            <div class="relative w-4/5 h-4/5 bg-white shadow-lg rounded-md"
                 onclick="event.stopPropagation()">
                <div id="sp-map" class="w-full h-full p-4"></div>
            </div>
        </div>
        <div class="flex flex-col">
            <label class="text-center flex justify-center items-center w-full" style="aspect-ratio: 5/1">
                <th:block th:replace="~{fragment/popup :: cover-image}"/>
            </label>
            <div class="flex">
                <div class="sm:border-b-2 border-b w-1/2 text-center mx-auto my-10">
                    <label>
                        <input type="text" value="東京旅行" class="w-full sm:text-3xl text-xl text-center" style="border: none" onchange="redirect('/plan/edit')">
                    </label>
                </div>
                <button onclick="openPopup()" class="sm:hidden inline-block h-12 w-12 my-auto mr-8 cursor-pointer">
                    <th:block th:replace="~{fragment/svg :: map}"/>
                </button>
            </div>
        </div>
        <div class="mx-10 flex">
            <section class="sm:w-1/2 w-full">
                <div class="flex space-x-0 pb-[0.625rem] border-b-2 mt-6">
                    <div>
                        <a class="rounded-t-md text-center items-center cursor-pointer pt-5 pb-3 sm:px-6 lg:px-12 px-8 bg-green-600 text-white h-12">
                            <span>1日目</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col mt-6 mb-10">
                    <div class="mb-6">
                        <p class="mb-2 sm:text-lg text-base">出発地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
                        <button class="input text-center text-label max-w-md w-4/5 h-10 sm:h-12 flex justify-between items-center" id="startToggle" type="button">
                            <span class="text-[10px] sm:text-base">09:00</span>
                            <span class="flex-1 text-base sm:text-xl truncate ... px-2">中野駅北口駅前広場</span>
                            <span></span>
                        </button>
                        <div class="flex justify-center">
                            <span id="train" class="inline-flex justify-between items-center space-x-4 w-48"><th:block th:replace="~{fragment/svg :: car}"/>1時間</span>
                        </div>
                        <th:block th:replace="~{fragment/svg :: four-transportation}"/>
                    </div>
                    <div class="mb-6">
                        <p class="mb-2 sm:text-lg text-base">目的地</p>
                        <ul id="destination">
                            <li class="mb-2 hover:cursor-grab w-full">
                                <div class="flex items-center">
                                    <button class="input text-center text-label max-w-md w-4/5 flex justify-between items-center h-10 sm:h-12" type="button">
                                        <span class="block text-[10px] sm:text-base">
                                            <span>10:00~10:30</span>
                                        </span>
                                        <span class="flex-1 text-base sm:text-xl truncate ... px-2">JR新宿駅 東南口広場</span>
                                        <span class="flex flex-col items-end text-[8px] sm:text-xs">
                                            <span class="block">予算：----円</span>
                                        </span>
                                    </button>
                                    <button class="px-2">
                                        <th:block th:replace="~{fragment/svg :: close}" />
                                    </button>
                                </div>
                                <div class="flex justify-center">
                                    <span id="train1" class="inline-flex justify-between items-center space-x-4 w-48"><th:block th:replace="~{fragment/svg :: car}"/>1時間30分</span>
                                </div>
                                <th:block th:replace="~{fragment/svg :: four-transportation}"/>
                            </li>
                            <li>
                                <div class="flex items-center">
                                    <button class="input text-center text-label max-w-md w-4/5 flex justify-between items-center h-10 sm:h-12" type="button">
                                        <span class="block text-[10px] sm:text-base">
                                            <span>12:00~12:30</span>
                                        </span>
                                        <span class="flex-1 text-base sm:text-xl truncate ... px-2">浅草寺</span>
                                        <span class="flex flex-col items-end text-[8px] sm:text-xs">
                                            <span class="block">予算：----円</span>
                                        </span>
                                    </button>
                                    <button class="px-2">
                                        <th:block th:replace="~{fragment/svg :: close}" />
                                    </button>
                                </div>
                                <div class="flex justify-center">
                                    <span id="train2" class="inline-flex justify-between items-center space-x-4 w-48"><th:block th:replace="~{fragment/svg :: car}"/>1時間50分</span>
                                </div>
                                <th:block th:replace="~{fragment/svg :: four-transportation}"/>
                            </li>
                        </ul>
                    </div>
                    <div class="mb-6">
                        <p class="mb-2 sm:text-lg text-base">終了地点</p>
                        <button class="input text-center text-label max-w-md w-4/5 h-10 sm:h-12 flex justify-between items-center" type="button">
                            <span class="text-[10px] sm:text-base">13:00</span>
                            <span class="flex-1 text-base sm:text-xl truncate ... px-2">東京駅丸の内駅前広場</span>
                            <span></span>
                        </button>
                        <div class="flex justify-center">
                            <span id="train3" class="inline-flex justify-between items-center space-x-4 w-48"><th:block th:replace="~{fragment/svg :: car}"/>30分</span>
                        </div>
                        <th:block th:replace="~{fragment/svg :: four-transportation}"/>
                    </div>
                    <th:block th:replace="~{fragment/modal :: places(1)}"/>
                    <!-- おすすめ目的地のセクション -->
                    <section class="pt-10">
                        <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">
                            <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90  before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">
                                おすすめ目的地を追加
                            </summary>
                            <hr class="my-2 scale-x-150"/>
                            <button class="input border-interactive text-center text-label max-w-md w-4/5 justify-between items-center h-10 sm:h-12 my-5 flex recommend-buttons"
                                    data-modal-target="recommendModal1" data-modal-toggle="recommendModal1" type="button">
                                    <span class="absolute block text-[10px] sm:text-base">
                                        <th:block th:replace="~{fragment/svg :: plus}"/>
                                    </span>
                                <span class="flex-1 text-base sm:text-xl truncate ... px-2">東京ディズニーランド</span>
                                <span class="flex flex-col items-end text-[8px] sm:text-xs">
                                        <span class="block">平均予算：10000円</span>
                                        <span class="block">平均滞在時間：300分</span>
                                    </span>
                            </button>
                            <p class="h-5"></p>
                            <button class="input border-interactive text-center text-label max-w-md w-4/5 justify-between items-center h-10 sm:h-12 my-5 flex recommend-buttons"
                                    type="button">
                                    <span class="absolute block text-[10px] sm:text-base">
                                        <th:block th:replace="~{fragment/svg :: plus}"/>
                                    </span>
                                <span class="flex-1 text-base sm:text-xl truncate ... px-2">東京タワー</span>
                                <span class="flex flex-col items-end text-[8px] sm:text-xs">
                                        <span class="block">平均予算：2000円</span>
                                        <span class="block">平均滞在時間：60分</span>
                                    </span>
                            </button>
                            <p class="h-5"></p>
                            <button class="input border-interactive text-center text-label max-w-md w-4/5 justify-between items-center h-10 sm:h-12 my-5 flex recommend-buttons"
                                    type="button">
                                    <span class="absolute block text-[10px] sm:text-base">
                                        <th:block th:replace="~{fragment/svg :: plus}"/>
                                    </span>
                                <span class="flex-1 text-base sm:text-xl truncate ... px-2">東京スカイツリー</span>
                                <span class="flex flex-col items-end text-[8px] sm:text-xs">
                                        <span class="block">平均予算：2000円</span>
                                        <span class="block">平均滞在時間：60分</span>
                                    </span>
                            </button>
                        </details>
                    </section>
                    <section class="pt-10">
                        <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">
                            <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90  before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">
                                オプション
                            </summary>
                            <hr class="my-2 scale-x-150"/>
                            <div class="sm:text-lg text-base -m-4 -mt-2 p-4 flex flex-col">
                                <div class="my-1 sm:text-base text-sm">
                                    <label for="useHighway">
                                        <input type="checkbox" id="useHighway" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10" onchange="redirect('/plan/edit')">
                                        <span class="ml-2 text-center">有料道路の利用</span>
                                    </label>
                                </div>
                                <div class="my-1 sm:text-base text-sm">
                                    <label for="useFerry">
                                        <input type="checkbox" id="useFerry" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10" onchange="redirect('/plan/edit')">
                                        <span class="ml-2 text-center">フェリーの利用</span>
                                    </label>
                                </div>
                                <div class="my-1 sm:text-base text-sm">
                                    <label for="walkFlag">
                                        <input type="checkbox" id="walkFlag" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10" onchange="handleWalkFlagChange()">
                                        <span class="ml-2 text-center">徒歩で移動可能な時間を指定</span>
                                    </label>
                                </div>
                                <label class="ml-10">
                                    <input type="number" id="walkingTime" name="walkingTime" class="sm:w-56 w-32 sm:h-8 h-6 border border-b-gray-400 rounded-lg text-base text-center disabled:bg-[#e5e5e5] disabled:border-[#888] disabled:text-[#888]" min="0" max="" disabled onchange="redirect('/plan/edit')">
                                    <span class="mx-4">分</span>
                                </label>
                            </div>
                        </details>
                    </section>
                </div>

                <div class="flex justify-around mb-10">
                    <button type="button" class="sm:mx-10 mx-5 flex items-center justify-around button-secondary" onclick="redirect('/plan/create')">
                        <th:block th:replace="~{fragment/svg :: plus}"/>
                        日付の追加
                        <span class="block"></span>
                    </button>
                    <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-primary">経路再生成</button>
                </div>
                <div class="flex justify-around mb-20">
                    <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-primary" onclick="redirect('/plan/list')">一時保存</button>
                    <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-primary" onclick="redirect('/share/plan')">プラン確定</button>
                </div>
            </section>
            <section class="sm:w-1/2 hidden sm:inline-block">
                <div id="map" class="w-full h-full"></div>
            </section>
        </div>
    </form>
</main>
<script src="/js/draganddrop.js"></script>
<script src="/js/radioButtonSelect.js"></script>

<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: flowbite}"/>
<th:block th:replace="~{fragment/script :: map}"/>
<th:block th:replace="~{fragment/script :: modal}"/>
<th:block th:replace="~{fragment/script :: check}"/>
<th:block th:replace="~{fragment/script :: svgRadioButton}"/>
<script
    th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initialize&libraries=places&v=weekly'"
    async
    defer
></script>
<script>
    function initialize() {
        // TODO: 以下を参照にControllerから引数として受け取る
        const placeIds = ['ChIJD5lWsZbyGGARzqwWY4ofrIw', 'ChIJCQ1BhNqMGGARcOEMFoKAMb0', 'ChIJ8T1GpMGOGGARDYGSgpooDWw', 'ChIJAylxefmLGGARmouNFJGoD3E'];
        const travelModes = ['DRIVING', 'DRIVING', 'DRIVING'];
        const options = {
            useHighway: false,
            useFerry: false,
            maxWalkingTime: 1
        };
        initAutoComplete();
        initializeMaps(placeIds, travelModes, options);
    }
</script>
</body>
</html>
