<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="fragment/head :: head(旅行プラン一覧)"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="fragment/header :: header"/>
<main class="flex-grow my-12">
    <div class="relative w-full">
        <div class="flex flex-col items-center justify-center text-center">
            <h1 class="text-title">旅行プラン一覧</h1>
            <p class="text-base font-light">今まで作成した旅行プランを閲覧できます。</p>
        </div>
        <div class="absolute right-10 top-6 text-center">
            <a th:href="@{/}" class="button-primary">プラン作成</a>
        </div>
    </div>
    <div class="grid grid-cols-2 justify-items-center my-16 mx-40">
        <!-- TODO:バックエンドの一覧表示の処理ができたらth:eachで表示できるようにする -->
        <a th:href="@{/}" class="block border rounded-lg block-list w-[29.1875rem] h-64 hover:shadow-lg my-10">
            <div class="flex justify-center my-3">
                <!-- TODO:カバー画像のパスを入れる -->
                <img src="https://placehold.jp/20/b5b5b5/ffffff/435x180.png?text=%E3%82%AB%E3%83%90%E3%83%BC%E7%94%BB%E5%83%8F" alt="カバー画像">
            </div>
            <div class="flex justify-between">
                <!-- TODO:<span th:text="{}">のように後で変更 -->
                <span class="mx-4 text-xl">東京旅行！！！</span>
                <!-- TODO:<span th:if="${}">のように後で変更 -->
                <span class="border border-black flex items-center justify-center mx-4 rounded-full text-center text-xs w-14">下書き</span>

            </div>
        </a>
        <a th:href="@{/}" class="block border rounded-lg block-list w-[29.1875rem] h-64 hover:shadow-lg my-10">
            <div class="flex justify-center my-3">
                <!-- TODO:カバー画像のパスを入れる -->
                <img src="https://placehold.jp/20/b5b5b5/ffffff/435x180.png?text=%E3%82%AB%E3%83%90%E3%83%BC%E7%94%BB%E5%83%8F" alt="カバー画像">
            </div>
            <div class="flex justify-between">
                <!-- TODO:<span th:text="{}">のように後で変更 -->
                <span class="mx-4 text-xl">東京旅行！！！</span>
                <!-- TODO:<span th:if="${}">のように後で変更 -->
                <span class="border border-black flex items-center justify-center mx-4 rounded-full text-center text-xs w-14">下書き</span>
            </div>
        </a>
        <a th:href="@{/}" class="block border rounded-lg block-list w-[29.1875rem] h-64 hover:shadow-lg my-10">
            <div class="flex justify-center my-3">
                <!-- TODO:カバー画像のパスを入れる -->
                <img src="https://placehold.jp/20/b5b5b5/ffffff/435x180.png?text=%E3%82%AB%E3%83%90%E3%83%BC%E7%94%BB%E5%83%8F" alt="カバー画像">
            </div>
            <div class="flex justify-between">
                <!-- TODO:<span th:text="{}">のように後で変更 -->
                <span class="mx-4 text-xl">東京旅行！！！</span>
                <!-- TODO:<span th:if="${}">のように後で変更 -->
                <span class="border border-black flex items-center justify-center mx-4 rounded-full text-center text-xs w-14">下書き</span>
            </div>
        </a>
    </div>
    <!-- TODO:バックエンドの一覧表示の処理ができたら作成する -->
    <nav class="flex justify-center" aria-label="Page navigation example">
        <ul class="flex items-center -space-x-px h-10 text-base">
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-interactive hover:text-white">
                    <span class="sr-only">Previous</span>
                    <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-interactive hover:text-white">1</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-interactive hover:text-white">2</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-interactive hover:text-white">3</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-interactive hover:text-white">4</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-interactive hover:text-white">5</a>
            </li>
            <li>
                <a href="#" class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-interactive hover:text-white">
                    <span class="sr-only">Next</span>
                    <svg class="w-3 h-3 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</main>
<th:block th:replace="fragment/footer :: footer"/>
<th:block th:replace="fragment/script :: header"/>
</body>
</html>