<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/html">
<th:block th:replace="~{fragment/head :: head(経路作成)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center flex-grow">
    <form class="w-full">
        <div id="popup"
             class="hidden sm:hidden fixed inset-0 z-50 items-center justify-center bg-black bg-opacity-50"
             onclick="closePopup()">
            <div class="relative w-4/5 h-4/5 bg-white shadow-lg rounded-md"
                 onclick="Event.stopPropagation()">
                <div id="sp-map" class="w-full h-full p-4"></div>
            </div>
        </div>
        <div class="flex flex-col">
            <label class="text-center flex justify-center items-center w-full bg-gray-500" style="aspect-ratio: 5/1">
                <th:block th:replace="~{fragment/popup :: cover-image}"/>
            </label>
            <div class="flex">
                <div class="sm:border-b-2 border-b w-1/2 text-center mx-auto my-10">
                    <input type="text" placeholder="タイトルを入力してください" class="w-full sm:text-3xl text-xl text-center" style="border: none">
                </div>
                <button onclick="openPopup()" class="sm:hidden inline-block h-12 w-12 my-auto mr-8 cursor-pointer">
                    <th:block th:replace="~{fragment/svg :: map}"/>
                </button>
            </div>
        </div>
        <div class="mx-10 flex">
            <section class="sm:w-1/2 w-full">
                <h1 class="sm:text-4xl text-2xl border-b">
                    <span>1日目</span>
                </h1>
                <div class="flex flex-col mt-6 mb-10">
                    <div class="mb-6">
                        <p class="mb-2 sm:text-lg text-base">出発地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
                        <th:block th:replace="~{fragment/modal :: start}"/>
                    </div>
                    <div class="mb-6" id="destination">
                        <p class="mb-2 sm:text-lg text-base">目的地</p>
                        <th:block th:replace="~{fragment/modal :: places(1)}"/>
                    </div>
                    <div class="mb-6">
                        <p class="mb-2 sm:text-lg text-base">終了地点<span class="sm:ml-2 ml-1 text-sm text-danger">必須</span></p>
                        <th:block th:replace="~{fragment/modal :: end}"/>
                    </div>
                    <!-- おすすめ目的地のセクション -->
                    <section class="pt-10">
                        <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">
                            <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90  before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">
                                おすすめ目的地を追加
                            </summary>
                            <hr class="my-2 scale-x-150"/>
<!--                        おすすめ目的地（東京タワー）    -->
                            <div class="sm:text-lg text-base -m-4 -mt-2 p-4">
                                <button class="input border-interactive text-center text-label max-w-md w-4/5 flex justify-between items-center h-10 sm:h-12"
                                        data-modal-target="recommendModal1" data-modal-toggle="recommendModal1" type="button">
                                    <span class="absolute block text-[10px] sm:text-base">
                                        <th:block th:replace="~{fragment/svg :: plus}"/>
                                    </span>
                                    <span class="flex-1 text-base sm:text-xl truncate ... px-2">東京ディズニーランド</span>
                                    <span class="flex flex-col items-end text-[8px] sm:text-xs">
                                        <span class="block">平均予算：2000円</span>
                                        <span class="block">平均滞在時間：60分</span>
                                    </span>
                                </button>
                                <div aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full sm:inset-0 h-[calc(100%-1rem)] max-h-full text-label text-base"
                                     id="recommendModal1" tabindex="-1">
                                        <div class="relative p-4 w-full max-w-md max-h-full">
                                            <!-- Modal content -->
                                            <div class="relative bg-white rounded-lg shadow">
                                                <!-- Modal header -->
                                                <div class="flex items-center justify-between p-4 sm:p-5 rounded-t border-b border-frame">
                                                    <h3 class="text-xl text-black">
                                                        おすすめ目的地を追加する
                                                    </h3>
                                                    <button class="end-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                                                            data-modal-hide="recommendModal1" type="button">
                                                        <svg aria-hidden="true" class="w-3 h-3" fill="none" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                                                        </svg>
                                                        <span class="sr-only">Close modal</span>
                                                    </button>
                                                </div>
                                                <!-- Modal body -->
                                                <div class="p-4 sm:p-5">
                                                    <div class="space-y-4 w-full">
                                                        <input class="hidden" id="recommendPlaceId1" value="1" type="text"/>
                                                        <input class="hidden" id="recommendLat1" value="1" type="text"/>
                                                        <input class="hidden" id="recommendLng1" value="1" type="text"/>
                                                        <div>
                                                            <label class="block mb-2" for="recommend1">目的地<span class="ml-2 text-sm text-danger">必須</span></label>
                                                            <input class="w-full input focus:ring-0 bg-gray-100" disabled id="recommend1" name="recommend1" value="東京ディズニーランド" type="text"/>
                                                        </div>
                                                        <div class="flex items-center justify-between">
                                                            <div class="w-1/2 pr-3">
                                                                <label class="block mb-2" for="recommendBudget1">予算</label>
                                                                <div class="flex items-end">
                                                                    <input class="w-full input focus:ring-0" id="recommendBudget1" name="recommendBudget1" value="2000" type="number"/>
                                                                    <span>円</span>
                                                                </div>
                                                            </div>
                                                            <div class="w-1/2 pl-3">
                                                                <label class="block mb-2" for="recommendStayTime1">滞在時間</label>
                                                                <div class="flex items-end">
                                                                    <input class="w-full input focus:ring-0" id="recommendStayTime1" name="recommendStayTime1" value="60" type="number" />
                                                                    <span>分</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div>
                                                            <label class="block" for="recommendDesiredStartTime1">希望時間</label>
                                                            <p class="text-sm mb-2">入力された時刻の範囲内で目的地に向かうことが出来ます</p>
                                                            <div class="flex items-center justify-between">
                                                                <div class="relative w-1/2">
                                                                    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                                            <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                                                        </svg>
                                                                    </div>
                                                                    <input class="w-full input focus:ring-0" max="23:59" min="00:00" placeholder="--:--" id="recommendDesiredStartTime1" name="recommendDesiredStartTime1" type="time"/>
                                                                </div>
                                                                <span class="pr-3 pl-3">～</span>
                                                                <div class="relative w-1/2">
                                                                    <div class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none">
                                                                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                                            <path clip-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" fill-rule="evenodd"/>
                                                                        </svg>
                                                                    </div>
                                                                    <input class="w-full input focus:ring-0" max="23:59" min="00:00" placeholder="--:--" id="recommendDesiredEndTime1" name="recommendDesiredEndTime1" type="time"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex justify-center">
                                                            <button class="button-primary recommend" id="recommendSubmit1" type="submit">追加</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </details>
                    </section>
                    <section class="pt-10">
                        <details open class="p-4 group overflow-hidden transition-[max-height] duration-500">
                            <summary class="sm:text-xl text-lg cursor-pointer font-semibold marker:text-transparent group-open:before:rotate-90 before:origin-center relative before:w-[18px] before:h-[18px] before:transition-transform before:duration-200 before:-left-1 before:top-2/4 before:-translate-y-2/4 before:absolute before:bg-no-repeat before:bg-[length:18px_18px] before:bg-center before:bg-[url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22h-6%20w-6%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke%3D%22currentColor%22%20stroke-width%3D%222%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M9%205l7%207-7%207%22%20%2F%3E%0A%3C%2Fsvg%3E')]">
                                オプション
                            </summary>
                            <hr class="my-2 scale-x-150"/>
                            <div class="sm:text-lg text-base -m-4 -mt-2 p-4 flex flex-col">
                                利用する交通手段
                                <th:block th:replace="~{fragment/svg :: three-transportation}" />
                                <div class="my-1 sm:text-base text-sm">
                                    <label for="useHighway">
                                        <input type="checkbox" id="useHighway" name="useHighway" value="useHighway" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10">
                                        <span class="ml-2 text-center">有料道路の利用</span>
                                    </label>
                                </div>
                                <div class="my-1 sm:text-base text-sm">
                                    <label for="useFerry">
                                        <input type="checkbox" id="useFerry" name="useFerry" value="useFerry" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10">
                                        <span class="ml-2 text-center">フェリーの利用</span>
                                    </label>
                                </div>
                                <div class="my-1 sm:text-base text-sm">
                                    <label for="walkFlag">
                                        <input type="checkbox" id="walkFlag" name="walkFlag" value="walkFlag" class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-5 before:w-5 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-blue-700 checked:bg-blue-700 checked:before:bg-blue-700 hover:before:opacity-10">
                                        <span class="ml-2 text-center">徒歩で移動可能な時間を指定</span>
                                    </label>
                                </div>
                                <label class="ml-10">
                                    <input type="number" id="walkingTime" name="walkingTime" class="sm:w-56 w-32 sm:h-8 h-6 border border-b-gray-400 rounded-lg text-base text-center disabled:bg-[#e5e5e5] disabled:border-[#888] disabled:text-[#888]" min="0" max="" disabled>
                                    <span class="mx-4">分</span>
                                </label>
                            </div>
                        </details>
                    </section>
                </div>
                <div class="flex justify-center mb-20">
                    <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-secondary" onclick="window.location.href='/plan/list'">戻る</button>
                    <button type="button" class="sm:mx-10 mx-5 block items-center justify-center button-primary" onclick="window.location.href='/plan/edit'">経路生成</button>
                </div>
            </section>
            <section class="sm:w-1/2 hidden sm:inline-block">
                <div id="map" class="w-full h-full"></div>
            </section>
        </div>
    </form>
</main>
<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: flowbite}"/>
<th:block th:replace="~{fragment/script :: googleMapsAPI}"/>
<th:block th:replace="~{fragment/script :: map}"/>
<th:block th:replace="~{fragment/script :: modal}"/>
<th:block th:replace="~{fragment/script :: check}"/>
<th:block th:replace="~{fragment/script :: svgCheckbox}"/>
</body>
</html>
