<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(パスワードリセット)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center mt-10 flex-grow">
    <h2 class="text-center sm:text-3xl text-2xl font-medium text-default">パスワードリセット</h2>
    <form th:action="@{/password-reset/{token}(token=${token})}" th:object="${resetPasswordForm}" method="post" class="w-full sm:max-w-lg max-w-xs">
        <div class="mb-10 mt-10">
            <label for="password" class="block sm:text-base text-sp-default text-default sm:my-1 my-0.5 text-sm">パスワード</label>
            <input th:field="*{password}" id="password" name="password" type="password" required class="w-full input"/>
        </div>
        <div class="mb-10 mt-10">
            <label for="rePassword" class="block sm:text-base text-sp-default text-default sm:my-1 my-0.5 text-sm">パスワード(確認)</label>
            <input th:field="*{rePassword}" id="rePassword" name="rePassword" type="password" required class="w-full input"/>
        </div>
        <div class="flex items-center justify-center">
            <button type="submit" class="button-primary" style="max-width: 7.375rem">変更</button>
        </div>
    </form>
</main>

<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: header}"/>
</body>
</html>
