<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="googleMapsAPI">
    <script
            th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey} + '&callback=initialize&libraries=places&v=weekly'"
            async
            defer
    ></script>
    <script>
        function initialize() {
            // TODO: 以下を参照にControllerから引数として受け取る
            // const placeIds = ['ChIJh7eDrwCPGGARCs9fpCkKS2U', 'ChIJ9cqtKHTpGGAR48XfvUWXx5M', 'ChIJx289pMEqC18Ri7aK56qxdio'];
            // const travelModes = ['DRIVING', 'DRIVING'];
            // const options = {
            //     useHighway: true,
            //     useFerry: true,
            //     maxWalkingTime: 1
            // };
            initAutoComplete();
            initializeMaps(placeIds, travelModes, options);
        }
    </script>
</th:block>

<th:block th:fragment="header">
    <script src="/js/header.js"></script>
</th:block>

<th:block th:fragment="flowbite">
    <script src="/js/flowbite.min.js"></script>
</th:block>

<th:block th:fragment="check">
    <script src="/js/check.js"></script>
</th:block>

<th:block th:fragment="map">
    <script src="/js/map.js"></script>
</th:block>

<th:block th:fragment="modal">
    <script src="/js/autocomplete.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/recommend.js"></script>
</th:block>

<th:block th:fragment="svgCheckbox">
    <script src="/js/svgCheckbox.js"></script>
</th:block>

<th:block th:fragment="svgRadioButton">
    <script src="/js/svgRadioButton.js"></script>
</th:block>

<th:block th:fragment="redirect">
    <script src="/js/redirect.js"></script>
</th:block>

<th:block th:fragment="previewImage">
    <script src="/js/previewImage.js"></script>
</th:block>

<th:block th:fragment="closeMailConfirm">
    <script>
        function closeMailConfirm() {
            document.getElementById('popup').classList.add('hidden');
        }
    </script>
</th:block>
</body>
</html>
