@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans;
}

@layer components {
    .button-primary {
        @apply rounded bg-interactive text-white px-4 py-2 w-32 hover:bg-sub-button transition-colors;
    }
    .button-secondary {
        @apply rounded bg-white outline outline-2 outline-interactive text-interactive px-4 py-2 w-32 hover:bg-frame transition-colors;
    }
    .input {
        @apply rounded-lg bg-white border-2 border-frame p-2 focus:outline-none focus:border-label;
    }
    .svg-car {
        @apply items-center w-16 peer-checked:text-interactive;
    }
    .svg-walk {
        @apply items-center w-16 peer-checked:text-interactive;
    }
    .svg-cycle {
        @apply items-center w-16 peer-checked:text-interactive;
    }
    .svg-train {
        @apply items-center w-16 peer-checked:text-interactive;
    }
}