<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
</head>
<body>
<header>
    <nav>
        <div>
            <!--ヘッダーの画像-->
            <a href="#">たびすけっち</a>

            <div>
                <ul>
                    <li>
                        <a href="#">プラン一覧</a>
                    </li>
                    <li>
                        <a href="#">プラン作成</a>
                    </li>
                    <li>
                        <a href="#">アカウント編集</a>
                    </li>
                    <li>
                        <a href="#">ログイン</a>
                    </li>
                    <li>
                        <a href="#">新規登録</a>
                    </li>
                    <li>
                        <form action="/logout" method="post">
                            <button type="submit">ログアウト</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>