<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>layout</title>
</head>
<body>
<header>
    <nav class="box-border h-28 w-full border-2 flex items-center justify-between px-3">
        <div class="flex items-center">
            <img src="#" alt="たびすけっちのアイコン">
            <a href="#" class="ml-3 text-2xl font-extrabold">たびすけっち</a>
        </div>
        <ul class="flex items-center w-2/5 justify-around">
            <li>
                <!-- TODO: ログインしていた場合表示 -->
                <a href="#">プラン一覧</a>
            </li>
            <li>
                <!-- TODO: ログインしていた場合表示 -->
                <a href="#">プラン作成</a>
            </li>
            <li>
                <!-- TODO: ログインしていた場合表示 -->
                <a href="#">アカウント編集</a>
            </li>
            <li>
                <!-- TODO: 新規登録画面または、TOPページだった場合表示 -->
                <a href="#" class="button-primary">ログイン</a>
            </li>
            <li>
                <!-- TODO: ログイン画面または、TOPページだった場合表示 -->
                <a href="#" class="button-primary">新規登録</a>
            </li>
            <li>
                <!-- TODO: ログインしていた場合表示 -->
                <form action="/logout" method="post">
                    <button type="submit" class="button-primary">ログアウト</button>
                </form>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>