<!DOCTYPE html>
<html lang="ja">
<th:block th:replace="~{fragment/head :: head(ログイン)}"/>
<body class="flex flex-col min-h-screen">
<th:block th:replace="~{fragment/header :: header}"/>
<main class="flex flex-col items-center mt-10 flex-grow">
    <h2 class="text-center sm:text-3xl text-2xl font-medium">ログイン</h2>
    <div th:if="${param.error}">
        <p class="pt-4 text-red-600">メールアドレス、またはパスワードが違います</p>
    </div>
    <form th:action="@{/login}" method="post" class="w-full sm:max-w-lg max-w-xs">
        <div class="mb-4 mt-10">
            <label for="mail" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">メールアドレス</label>
            <input id="mail" name="mailAddress" type="email" required class="w-full input"/>
        </div>
        <div class="mb-10 mt-10">
            <label for="password" class="block sm:text-base text-sp-default sm:my-1 my-0.5 text-sm">パスワード</label>
            <input id="password" name="password" type="password" required class="w-full input"/>
        </div>
        <div class="flex items-center justify-center">
            <button type="submit" class="button-primary" style="max-width: 7.375rem">ログイン</button>
        </div>
    </form>
    <div class="mt-10">
        <a th:href="@{/user/password-reset}" class="text-sm text-link hover:text-link-hover underline">パスワードを忘れた方</a>
    </div>
</main>

<th:block th:replace="~{fragment/footer :: footer}"/>
<th:block th:replace="~{fragment/script :: header}"/>
</body>
</html>