# 後ほどリファクタして復活させる予定のため、一旦コメントアウト
#name: eslint
#
#on:
#  pull_request:
#
#jobs:
#  build:
#    runs-on: ${{ matrix.runner }}
#    timeout-minutes: 10
#    strategy:
#      matrix:
#        runner: [ubuntu-latest]
#        node: [20]
#    name: build on node ${{ matrix.node }} ${{ matrix.runner }}
#    steps:
#      - uses: actions/checkout@v4
#      - name: Setup Node
#        uses: actions/setup-node@v4
#        with:
#          node-version: ${{ matrix.node }}
#      - name: npm ci
#        run: npm ci
#      - name: eslint
#        run: npm run lint
